/*******************/
/***   CATALOG   ***/
/*******************/

.catalog {

  &-title {
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    background-color: @main-color;
  }

  &-item {
    margin-bottom: 20px;

    &-view {
      float: left;
      margin-right: 40px;
      width: 560px;
    }

    &-name {
      /*margin-bottom: 20px;*/
    }

    &-bigimg {
      float: left;
      margin-right: 20px;
      width: 240px;
      height: 240px;

      cursor: pointer;
    }

    &-colors {
      float: left;
      padding-top: 30px;
      width: 300px;
    }

    &-small {
      float: left;
      width: 100px;
      height: 100px;

      cursor: pointer;
    }

    &-info {
      float: left;
      padding-top: 140px;
      width: 400px;
      text-align: right;
    }

    &-price {
      margin-bottom: 50px;
    }

    &-orderbtn {
      display: inline-block;
      padding: 2px 5px;

      font-family: 'Roboto', 'Arial', sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;

      color: @main-color;
      background-color: #fff;

      border: 2px solid @main-color;

      &:hover {
        color: #fff;
        background-color: @main-color;
      }
    }
  }

  &-delimiter {
    height: 10px;
    background-color: @main-color;
    border: none;
  }
}
