/******************/
/***   HEADER   ***/
/******************/

.header {
  color: #fff;
  background-color: @main-color;
}

.logo {
  float: left;

  &-img {
    float: left;
    padding-top: 17px;
    margin-right: 20px;
    width: 64px;
    height: 64px;
  }

  &-name {
    font-family: 'Pattaya', 'Times New Roman', serif;
    font-weight: 400;
    font-size: 36px;
  }

  &-info {
    float: right;
    padding-top: 10px;
  }
}

.feedback {
  float: right;
  text-align: right;
}
