/*****************/
/***   PROMO   ***/
/*****************/

.promo {
  color: #333;

  .container {
    margin-top: -30px;
    min-height: 540px;
    background: url("../img/bg.jpg") left top no-repeat;
  }
}

.promo-ideal {
  float: left;

  width: 700px;
  padding-top: 230px;
  text-align: center;
}

.ideal-title {
  margin-bottom: 20px;
}

.ideal-text {
  margin-bottom: 10px;
}

.ideal-using {
  margin: 0 auto;
  width: 340px;
  padding-top: 20px;
}

.using-item {
  float: left;
  margin-right: 20px;
  padding: 20px;
  width: 58px;
  height: 58px;

  text-align: center;

  border: 1px solid #888;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #000;
    border-color: #333;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.promo-feedback {
  float: right;
  padding-top: 70px;
  width: 300px;

/*  background-color: rgba(255,0,0,0.1);*/
}

.feedback-form {
  margin: 0 auto;
  width: 258px;
  padding: 20px;

  text-align: center;

  border: 1px solid #888;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.1);

  &:hover {
    color: #000;
    border-color: #333;
    background-color: rgba(0,0,0,0.2);
  }
}

.form-title {
  margin-bottom: 30px;
  border-bottom: 2px solid #333;
}

.form-text {
  margin-bottom: 20px;
}

.form-input {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 20px;
}

.form-submit {
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
}
